#profile-logo {
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.img-circle {
  border-radius: 50%;
}

.banner {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  height: 100vh;
}

.banner-title {
  margin-top: 150px;

}

body {
  background-color: white;
  text-align: center;
}

h1, h2, p, a {
  font-family: 'Overpass', sans-serif;
  color: rgb(223, 223, 223);
}

h3 {
  color: black;
  font-size: 3.5rem!important;
  font-family: 'Overpass', sans-serif;
}

h1 {
  font-size: 6.5rem!important;
}

h2 {
  color: black!important;
}

p{
  color: #666;
  margin-bottom: 40px;
  font-size: 1.35rem;
}

a {
  text-decoration: none!important;
  color: white;
}

a:hover {
  color: #273247
}

button:active {
  border: 0!important;
}

a:active {
  border: 0!important;
}


.projects {
  color: #4C6085!important;
}

.container {
  margin-bottom: 0px;
  transition: ease 0.2s;
}

.container-titles-projects  h1 {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 55px;
}

.container-titles-about {
  margin-top: 75px;
}

.container:hover {

}



.about-card {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: .5rem;
  padding: 15px;
  transition: ease 0.2s;
}

.about-card > h3 {
  text-align: center;
  margin-bottom: 25px;
}

.about-card:hover{
  transform: translateY(-40px);
  transform: translateX(-10px);
  box-shadow: 10px 5px 5px white;
}

.btn-orange {
  padding: 10px;
  color: white;
  background-color: #3DA35D;
  border-radius: 10px;
  margin-top: 100px;
}

.btn-orange:hover {
  background-color: red;
  color: white;
  transition: 0.5s;
}

.card {
  width: 400px;
  margin: 10px auto;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  font-size: 40px;
  padding: 0 10px;
  color: black;
}

.name-logo {
  font-family: Fasthand;
  font-size: 40px;
}

.navbar-lewagon {
  justify-content: space-between;
  background-color: #0005;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-linked {
  color: #4C6085;
  margin-right: 50px;
}

.card {
  margin-top: 200px;
}

/* .navbar {
  position: sticky!important;
  top: 0;
  width: 100%;
} */

img {
  width: 200px;
  height: 180px;
  border-radius: .5rem;
}

.profile-img {

}

.links i {
  font-size: 40px;
  margin-right: 10px;
  margin-left: 10px;
  color: rgb(205, 205, 205);
  transition: ease .2s
}

.links i:hover {
  color: white;
}

.skills i {
  font-size: 100px;
  margin-right: 10px;
  margin-left: 10px;
  color: #666;
  transition: ease .2s;
  margin-right: 15px;
}

.skills i:hover {
  color: #979797;
}

.btn-grad {
  background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
  margin: 10px;
  padding: 5px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  text-decoration: none;
  border: none;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

div > button {
  text-align: right;
}


.btn-projects {
  background-image: linear-gradient(to right, #41aa10 0%, #17cac7  51%, #4ccb11  100%);
  margin: 10px;
  padding: 10px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 7px #eee;
  border-radius: 10px;
  display: block;
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
  border: 0;
  font-size: 20px;
}

.btn-projects:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none!important;
}

.navbar {
  background-color: #E4E4E1;
  background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
 	background-blend-mode: normal, multiply;
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar a {
  color: black!important;
}

.about-section {
  padding-top: 50px;
  background-color: white;
}

.project-section {
  padding-top: 100px;
  background-color: white;
}

.contact-section {
  padding-top: 150px;
  background-color: white;
}

.navbar li {
  font-size: 20px;
  margin-left: 30px;
  transition: ease .2s;
}

.navbar li:hover {
  opacity: .4;
}

.small-bar {
  height: 5px;
  width: 3rem;
  border-radius: 5px;
  background-color: #07d707;
  margin: 0 auto;
  margin-top: 7px;
  margin-bottom: 7px;
}

.list-unstyled i {
  color: black;
  font-size: 40px;
}

.copyright {
  font-size: 12px;
}

.copyright > a {
  text-decoration: none!important;
  font-size: 13px;
  color: #999999;
  transition: ease .2s;
}

.copyright > a:hover {
  color: #b5b5b5;
}

.form-control:focus {
  border-color: #2dd254!important;
  box-shadow: 0 0 0 0.2rem rgba(33, 189, 69, 0.25)!important;
}

#about-me {
  -webkit-transition: all 0.5s ease;
}
